<h2>会員一覧</h2>

<table>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= customer.id %>
      </td>
      <td>
        <%= link_to customer.name ,admin_customer_path(customer) %>
      </td>
      <td>
        <%= customer.email %>
      </td>
      <td>
        <% if item.is_deleted == false %>
          有効
        <% else %>
          退会
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
