/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/* 共通レイアウト*/

*{
  box-sizing: border-box;
}
html {
  height: 100%;
}

body,
a,p,h1{
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 18px;
  background-color: #dcdcdc;
  display: inline-block;
  padding: 0 20px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  background-color: #dcdcdc;
  display: inline-block;
  padding: 0 20px;
  font-weight: normal;
}


a {
  text-decoration: none;
}

.container {
  display: flex;
  margin: 30px 40px 0;
}

/* btn */
.btn {
  border: none;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.7;
}

.btn_green {
  background-color: #58B957;
  color: #fff;
}
.btn_blue {
  background-color: #007BFF;
  color: #fff;
}
.btn_red {
  background-color: #DE5F5A;
  color: #fff;
}

/* header */

.header {
  border-bottom: solid 1px black;
  width: 100%;
  height: 100px;
  padding-bottom: 5px;
}

.header a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
  padding: 0 10px;
  color: black;
}
.header_container {
  display: flex;
  margin: 20px 20px;
  justify-content: space-between;
}

.header_logo {
  border: solid 1px;
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.header_bottom_space {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* footer */

.footer {
  border-top: solid 1px;
  height: 50px;
}

/* public/top */

.genre_bar {
  width: 20%;
  margin: 0 auto;
}

.genre_bar > table {
  width: 80%;
  border-collapse:  collapse;
  height: 200px;
}

.genre_bar > table,
.genre_bar > th {
  border: solid 1px;
}

.genre_bar > table a {
  color: black;
  display: block;
  width: 100%;
  padding-left: 10px;
}

.main {
  width: 80%;
}

.items_container {
  display: flex;
}

.item_container {
  margin-right: 10px;
}

.main > p {
  text-align: right;
}

/* about */

.about_container {
  text-align: center;
}

.about_container > h1 {
  font-size: 60px;
}
.about_container > h3 {
  font-size: 20px;
  background-color: #fff;
}

/* public/registrations new */
.registrations_container {
  margin: 30px 80px;
}

.registrations_container th {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}

.registrations_container input,
.registrations_container textarea {
  border-radius: 5px;
  border: solid 1px;
  padding: 5px 0;
}

.registrations_table input{
  width: 180px;
}
.registrations_container th{
  width: 200px;
}
.registrations_btn {
  width: 120px;
  margin-top: 10px;
}

/* public/session */

.login_container {
  margin: 20px 150px;
  height: 500px;
}

.login_table tr td:nth-child(1){
  width: 50px;
}

.login_table tr td:nth-child(2){
  width: 150px;
}

input #customer_password,
input #customer_email {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 0;
  width: 300px;
}

.login_btn {
  margin-top: 30px;
  padding: 7px 30px;
  margin-bottom: 50px;
  cursor: pointer;
}


/* public/items/index */

.items_index_container {
  display: flex;
  margin: 60px;
  height: 450px;
}

.items_index_genre_bar table,
.items_index_genre_bar th {
  border: solid 1px;
  border-collapse: collapse;
}

.items_index_genre_bar{
  width: 20%;
}

.items_index_genre_bar table{
  width: 80%;
  border-collapse:  collapse;
  height: 200px;
}

.items_index_genre_bar table a {
  color: black;
  display: block;
  width: 100%;
  padding-left: 10px;
}

.items_index_items {
  width: 80%;
}
.items_index_items nav {
  text-align: center;
  margin-top: 20px;
}

.items_index_items h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.items_index_items h1 span {
  font-size: 20px;
  font-weight: normal;
}

.items_index_items_container {
  display: flex;
  flex-wrap: wrap;
}

.items_index_item_container {
  width: 25%;
  margin-bottom: 30px;
}

/* public/items/show */

.items_show_item_container {
  width: 80%;
  display: flex;
}

.items_show_item_content {
  margin-left: 50px;
}

.items_show_item_content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.items_show_item_content p.price {
  font-size: 20px;
  font-weight: bold;
}

.items_show_item_content p.price span {
  font-size: 12px;
}

.items_show_item_text {
  height: 160px;
  display: flex;
  flex-direction: column;
}

.items_show_item_select_btn {
  display: flex;
  margin-top: 20px;
}

.items_show_item_select_btn select {
  width: 120px;
  margin-right: 40px;
}

.items_show_item_select_btn input {
  padding: 7px 20px;
  cursor: pointer;
}


/* cart_item */

.cart_item_index_container {
  margin: 20px 80px;
  height: 500px;
}

.cart_item_index_titles {
  display: flex;
  justify-content: space-between;
}

.cart_item_index_table {
  border-collapse:  collapse;
  width: 100%;
  margin-bottom: 40px;
}
.cart_item_index_table th {
  border: solid 1px;
  text-align: left;
  background: #F3F3F3;
  font-weight: normal;
}

.cart_item_index_btn {
  padding: 5px 10px;
  line-height: 20px;
  font-size: 14px;
  height: 20px;
}

td.line,
tr.line{
  border: solid 1px;
}
tr.space {
  height: 40px;
}
td.line,
th {
  padding: 5px;
}
td.width {
  width: 80px;
}

.cart_item_destroy_btn {
  padding: 10px;
  font-size: 10px;
}

.cart_item_destroy_btn a {
}

.continue_btn {
  padding: 10px 15px;
  font-size: 14px;
}

.cart_item_index_next {
  display: block;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 20px;
}

/* orders/new */

.orders_new_container {
  margin: 20px 80px;
  height: 500px;
}

.orders_new_container h2 {
  margin-left: 80px;
}

.form_label {
  font-size: 16px;
  background: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.orders_new_payment {
  margin-bottom: 20px;
}

.orders_new_payment div,
.orders_new_address div,
.orders_new_address_yourself div,
.orders_new_address_select div,
.orders_new_address_new table {
  margin-left: 40px;
}

.orders_new_address_yourself,
.orders_new_address_select,
.orders_new_address_new {
  margin-bottom: 10px;
}
.orders_new_address_select select {
  width: 80%;
  font-size: 16px;
  padding: 3px;
  border-radius: 5px;
}
.orders_new_address_new table {
  width: 70%;
}

.orders_new_address_new th{
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  width: 180px;
}
.orders_new_address_new table td input {
  padding: 3px;
  font-size: 16px;
}
.orders_new_address_new table td input#order_address{
  width: 100%;
}

.orders_new_btn {
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* public/orders/confirm */

.orders_confirm_container {
  margin: 20px 80px;
  height: 500px;
}

.orders_confirm_container h2 {
  margin: 0 0 10px 80px;
}

.orders_confirm_item {
  display: flex;
}
.orders_confirm_item th.width,
.orders_confirm_item td.width {
  width: 100px;
}
.orders_confirm_item th.name_width {
  width: 300px;
}

.orders_confirm_item table {
  border-collapse:  collapse;
  margin-bottom: 40px;
  font-size: 14px;
}

.orders_confirm_item table th {
  border: solid 1px;
  text-align: left;
  background: #F3F3F3;
  font-weight: normal;
  font-size: 14px;
}

.orders_confirm_item_btn {
  display: block;
  padding: 5px 20px;
  line-height: 20px;
  font-size: 14px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
}

.orders_confirm_items_table {
  margin-right: 50px;
}

.orders_confirm_items_table th {
  height: 45px;
}

div.orders_confirm_payment,
div.orders_confirm_address {
  display: flex;
  margin-bottom: 30px;
}

.orders_confirm_payment h3,
.orders_confirm_address h3 {
  background-color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 16px;
}

/* orders/complete */

.orders_complete_container {
  height: 500px;
}

.orders_complete_container h1 {
  line-height: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

/* customers/show */

.customers_show_container {
  margin: 50px;
  height: 500px;
}

.customers_show_container h2 {
  margin: 0 0 10px 80px;
}

.customers_show_container div {
  display: flex;
  margin: 20px 0;
}

.customers_show_container div h3 {
  display: block;
  background-color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100px;
}

.customers_show_edit_btn {
  padding: 5px 20px;
  font-size: 14px;
}

.customers_show_btn {
  padding: 5px 30px;
  font-size: 14px;
}
table.customers_show_table {
  border-collapse:  collapse;
}
table.customers_show_table th{
  width: 150px;
  background: #F3F3F3;
}
table.customers_show_table td{
  width: 400px;
}
table.customers_show_table th,
table.customers_show_table td{
  border: solid 1px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  padding: 10px 5px;
}

/* customers/unsubscribe  */

.unsubscribe_container {
  height: 450px;
  text-align: center;
}
.unsubscribe_container h3 {
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}
.unsubscribe_container > div {
  margin: 100px auto 0;
}

.unsubscribe_btns {
  display: flex;
  margin: 40px auto 0;
  justify-content: center;
}
input.unsubscribe_btn {
  margin-left: 20px;
  cursor: pointer;
  background-color: red;
  color: #fff;
}
.unsubscribe_btn {
  font-size: 14px;
  padding: 5px;
  width: 120px;
}

/* customers/edit */


.customers_edit_container {
  margin: 50px;
  height: 450px;
}

.customers_edit_container h2 {
  margin-left: 80px;
}

.customers_edit_container table,
.addresses_index_table_index {
  border-collapse: collapse;
  font-size: 14px;
}

.customers_edit_container table th {
  font-weight: normal;
  text-align: left;
  padding: 10px 5px;
  width: 150px;
}
.customers_edit_container table input,
.addresses_index_table_new input {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
}
.customers_edit_container table textarea,
.addresses_index_table_new textarea {
  border: solid 1px;
  border-radius: 5px;
  width: 100%;
  height: 26px;
}
.customers_edit_table tr td:nth-child(3),
.customers_edit_table tr td:nth-child(6) {
  width: 40px;
}

.customers_edit_btn {
  font-size: 12px;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* addresses/index */

.addresses_index_container {
  margin: 50px;
  height: 450px;
}
.addresses_index_table_new {
  margin: 30px 0 50px;
}

.addresses_index_container h2 {
  margin-left: 80px;
}
.addresses_index_table_new th {
  font-weight: normal;
  text-align: left;
  width: 200px;
  font-size: 14px;
}
.addresses_index_table_new tr:nth-child(1) td:nth-child(3) {
  width: 250px;
}
.addresses_index_table_new tr:nth-child(1) td:nth-child(4) {
  width: 120px;
}
.addresses_btn {
  width: 100%;
}

.addresses_index_table_index {
  font-size: 14px;
}
.addresses_index_table_index th {
  text-align: left;
  background: #F3F3F3;
  font-weight: normal;
}
.addresses_index_table_index th:nth-child(2) {
  width: 250px;
}
.addresses_index_table_index th:nth-child(3) {
  width: 100px;
}
.addresses_index_table_index th:nth-child(4) {
  width: 200px;
}
.addresses_index_table_index th,
.addresses_index_table_index td {
  padding: 10px 3px;
}
.btn_ruby {
  background-color: red;
  color: #fff;
}
.address_btn {
  padding: 5px 12px;
  cursor: pointer;
}
.address_btn + .address_btn {
  margin-left: 10px;
}
.addresses_btns {
  display: flex;
  justify-content: center;
}

/* addresses/edit */

.addresses_edit_container {
  margin: 50px;
  height: 450px;
}

.addresses_edit_container h2 {
  margin-left: 80px;
}

.addresses_edit_table {
  font-size: 14px;
}

.addresses_edit_table textarea,
.addresses_edit_table input{
  padding: 5px 0;
  border-radius: 5px;
  border: solid 1px;
  width: 100%;
  height: 30px;
}
.addresses_edit_table th{
  text-align: left;
  font-weight: normal;
  width: 180px;
}

.addresses_edit_table td:nth-child(1) {
  width: 200px;
}

.addresses_edit_table tr:nth-child(1) td:nth-child(3),
.addresses_edit_table tr:nth-child(3) td:nth-child(3) {
  width: 250px;
}

.addresses_edit_table tr:nth-child(1) td:nth-child(4),
.addresses_edit_table tr:nth-child(2) td:nth-child(3),
.addresses_edit_table tr:nth-child(3) td:nth-child(4) {
  width: 50px;
}

.addresses_edit_table td:nth-child(5) {
  width: 120px;
}
.address_save_btn {
  width: 100%;
  cursor: pointer;
  line-height: 14px;
}